<p>pipes works!</p>

<!-- <h3>{{name}}</h3>

<h3>{{name | lowercase}}</h3>

<h3>{{name | uppercase}}</h3>

<h3>{{msg | titlecase}}</h3> -->

 <!-- <h3>{{name | slice:3:6}}</h3> -->

  <!-- <h3>{{person | json}}</h3>

 <h3>{{0.25 | percent}}</h3>

<h3>{{0.25 | currency}}</h3>

<h3>{{0.25 | currency :'INR'}}</h3> -->

<h3>{{date}}</h3>

<h3>{{date | date : 'UTC'}}</h3>
<h3>{{date | date : 'shortDate'}}</h3>
<h3>{{date | date : 'shortTime'}}</h3>

<!-- <h3>{{date | date : 'medium'}}</h3>
<h3>{{date | date : 'mediumDate'}}</h3>
<h3>{{date | date : 'mediumTime'}}</h3> -->

<!-- <h3>{{date | date : 'long'}}</h3>
<h3>{{date | date : 'longDate'}}</h3>
<h3>{{date | date : 'longTime'}}</h3> -->